body {
    margin: 0px;
    overflow: visible;
}



h1 {
    font-family: sans-serif;
}

h2 {
    font-family: cursive;
}

text {
    font-family: sans-serif;
}

.tick text{
    font-size: 0.9em;
    fill: #635F5D;
}

.tick line{
    stroke: #C0C0BB;
}

.axis-label {
    font-size: 0.9em;
    fill: #8E8883;
}

.title {
    font-size: 0.9em;
    fill: green; 
}

p#photoCaption {
    text-align: right;
}

circle {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

circle:hover {
    fill:rgb(255, 30, 0);
}

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display:none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}