body {
    margin: 0px;
    overflow: visible;
}

circle {
    fill:greenyellow
}

h1 {
    font-family: sans-serif;
}

h2 {
    font-family: cursive;
}

text {
    font-family: sans-serif;
}

.tick text{
    font-size: 0.9em;
    fill: #635F5D;
}

.tick line{
    stroke: #C0C0BB;
}

.axis-label {
    font-size: 0.9em;
    fill: #8E8883;
}

.title {
    font-size: 0.9em;
    fill: green; 
}

p#photoCaption {
    text-align: right;
}